@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom styles */
html, body, #__next {
  height: 100%;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
}

body {
  background-color: #f9fafb; /* Light mode background */
  color: #111827; /* Light mode text color */
}

.dark body {
  background-color: #1f2937; /* Dark mode background */
  color: #f9fafb; /* Dark mode text color */
}

.animate-slowSmoothGradient {
  background-size: 300% 100%;
  transition: background-size 0.3s; /* Smooth transition for animations */
}

.dialog-content {
  background-color: white; /* For light mode */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Add shadow for better visibility */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for dialog */
}
.dark .dialog-content {
  background-color: #1f2937; /* For dark mode */
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1), 0 1px 3px rgba(255, 255, 255, 0.08); /* Add shadow for better visibility in dark mode */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
